
/* ABOUT THE PAGE  */
#github {
    padding-top: 1rem;
    text-align: center;
}

#github h1 {
    font-size: 3rem;
    text-decoration: overline;
}

#github a {
    color: gray;
}


/* PROJECTS BOX */
#projects {
    margin: 3rem 0.5rem 0 0.5rem;
}

#projects h1 {
    text-align: center;
    font-size: 2rem;
    text-decoration: overline;
}

.projects-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects-box p {
    margin-left: 1%;
}

.projects-box img {
    width: 40vw;
}

@media (max-width: 650px) {
    .projects-box {
        flex-direction: column;
    }

    .projects-box img {
        width: 98vw;
    }
}