@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

:root {
    --white: #FFFFFF;
    --cyan: #06BEE1;
    --bluedark: #03256C;
    --dark-purple: #2f0a28;
    --jet: #353238;
}

* {
    margin: 0;
    padding: 0;
}

body,
a {
    color: var(--white);
    text-decoration: none;
}

section {
    font-family: 'Baloo 2', cursive;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    background-color: var(--bluedark);
    padding: 10px 25px;
}

#navbar a {
    color: var(--white);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
}

#navbar a:hover {
    color: antiquewhite;
}

/* ABOUT */
#welcome-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url("assets/images/misaki.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    height: 100vh;

    cursor: context-menu;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    text-shadow: 2px 2px 1px #1f1f1f;
    font-size: 5rem;
}

#welcome-section p {
    font-size: 1.5rem;
}

/* Projects */
#projects {
    background-color: var(--dark-purple);
    text-align: center;
}

#projects h2 {
    text-decoration: underline;
    padding-top: 2rem;
    margin-bottom: 2.5rem;

    font-size: 2.5rem;
}

#projects-box {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 320px)); */
    /*I will put this in responsive media query*/
    grid-template-columns: repeat(2, minmax(100px, 320px));
    grid-gap: 1rem;
}

#projects-box img {
    object-fit: cover;
    width: 100%;
}

.project-tile {
    border: 1px white solid;
    background-color: var(--jet);
}

.project-tile:hover {
    background-color: var(--cyan);
    transition-duration: 1s;
}

#showMore {
    font-size: 1.2rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

#showMore a {
    border: 1px solid white;
    background-color: var(--jet);

    padding-left: 1rem;
    padding-right: 1rem;
}

#showMore a:hover {
    background: var(--cyan);
    transition-duration: 0.6s;
}

/* CONTACT  */
#contact {
    background-color: var(--jet);
    /* height: 70vh; */
    text-align: center;
}

#contact h2 {
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
}

.contact-flex {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-flex a {
    transition: transform 0.3s ease-out;
    margin-right: 1rem;
    margin-left: 1rem;

    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-flex a:hover {
    transform: translateY(8px);
}

@media only screen and (max-width: 680px) {
    #projects-box {
        grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
    }
}